<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Apple Product Details</title>
</head>
<body>
     <label>Enter Product ID</label>
    <input id="product_id" type="text"/>
     <button id="submit" class="btn" type="submit">Fetch</button>

     <dir></dir>
     <label id="api_res"></label>


     <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/apple.js' %}"></script>
</body>
</html>